      
      <div class="flex flex-col md:flex-row gap-4">
        <div class="md:w-3/4">
            <div class="bg-white rounded-lg shadow-md p-6 mb-4">
                <table class="w-full" id="table">
                    <thead>
                        <tr>
                            <th class="text-left font-semibold">Product</th>
                            <!-- <th class="text-left font-semibold">Unit Price</th> -->
                            <!-- <th class="text-left font-semibold">Qty</th> -->
                            <th class="text-left font-semibold" style="display: none">Time</th>
                            <th class="text-left font-semibold">Table</th>
                            <th class="text-left font-semibold">Server</th>
                            <th class="text-left font-semibold">Total</th>
                            <th class="text-left font-semibold text-right">Status</th>
                        </tr>

                    </thead>

                    <tbody>
                        <% 
                        let tables = []
                        let logs = {}
                        let grandTotal = 0
                        data.sales.forEach(function(i) {
                            grandTotal += i.Total
                            let tableKey = i.Table
                            if (!tables.includes(tableKey)) {
                                tables.push(tableKey)
                            }

                            if(logs[tableKey] == null){
                               logs[tableKey] = []
                            }
                            logs[tableKey].push(i)
                        })
                        %>
                        <!-- <%=JSON.stringify(tables)%>
                        <%=JSON.stringify(logs)%> -->
                        
                        <%
                        let totalItemSales = 0
                        for(let item = 0; item < tables.length; item++) {
                            let logIndex = tables[item]
                            <!-- totalItemSales += -->
                            <!-- let tableKey = s.Table -->
                            <!-- tables[tableKey].push(s) -->
                            %>
                        <tr>
                            <td class="py-4">
                                <div class="flex items-center">
                                    <img class="w-8 mr-4 rounded-full" src="/images/<%=logs[logIndex][0].Cid%>.png" alt="Product image">
                                    <span class="font-semibold flex-col flex">
                                    <span class="font-semibold"><%=logs[logIndex][0].Name%></span>
                                    <span class="font-normal">+ <%=logs[logIndex].length%> items</span>
                                    </span>
                                </div>
                            </td>
                            <% 
                            let totalChildSales = 0
                                logs[logIndex].forEach(function(child) { 
                                    totalChildSales += child.Total
                                    %>
                              <% }) %>
                            <td class="py-4 " style="display: none"><%=logs[logIndex][0].date_created%></td>
                            <td class="py-4 "><%=logs[logIndex][0].Table%> <br> <%= logs[logIndex][0].date_created.toLocaleDateString('en-US',{ weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%></td>
                            <td class="py-4 ">
                              <a href="/app/sale?`Table`=<%=logs[logIndex][0].Table%>&Server=<%=logs[logIndex][0].Server%>"><%=logs[logIndex][0].Server%></a></td>
                            <td class="py-4 amount"><%=totalChildSales%></td>

                              <td class="py-4 text-[15px] text-right"><%=logs[logIndex][0].Status%></td>
                            
                            </tr>
                       
                        <% } %>

                        </tbody>
                </table>
            </div>
        </div>
        <div class="md:w-1/4">
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h2 class="text-lg font-semibold mb-4">Report</h2>
                    <div class="flex justify-between mb-2">
                        <span>Sales</span>
                        <span><%=data.sales.length%></span>
                    </div>
                    <div class="flex justify-between mb-2">
                        <span>Tables Served</span>
                        <span><%=tables.length%></span>
                    </div>
                    
                    <hr class="my-2">
                    <div class="flex justify-between mb-2">
                        <span class="font-semibold">Payment Received</span>
                        <span class="font-semibold"><%=grandTotal%></span>
                    </div>
                    <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mt-4 w-full">Print</button>
                </div>
        </div>
    </div>
