<%- include('partials/header') %>

<div class="flex items-start bg-slate-50 h-[100vh] px-2 w-[100%]">
  <div class="lg:w-[15%] scrollbar-hide">
    <%- include('partials/sidebar') %>
  </div>

  <div
    class="w-full lg:w-[85%] overflow-y-scroll mx-auto h-full px-5 bg-slate-50"
  >
    <div class="w-[70%] my-10 mx-auto px-4 bg-white shadow-lg p-4 rounded-md">
      <h1 class="text-2xl font-semibold mb-4 text-center w-full">
        Create Staff
      </h1>

      <% if(!data.params){ %><form action="/api/staffs/add" method="POST" class="w-[80%] mx-auto"> <% } %>
      <% if(data.params){ %><form action="/api/staffs/edit?Id=<%-data.params%>" method="POST" class="w-[80%] mx-auto"> <% } %>
        <div class="mb-4">
          <label for="staffName" class="block text-sm font-medium text-gray-700"
            >Name:</label
          >
          <input
            type="text"
            id="staffName"
            required
            value="<%= data?.staff?.Name%>"
            name="Name"
            class="border-gray-300 border outline-none transition-all py-1 px-2 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-full"
          />
        </div>

        <div class="mb-4">
          <label
            for="staffCategory"
            class="block text-sm font-medium text-gray-700"
            >Staff Phone:</label
          >
          <input
            type="text"
            id="staffCategory"
            required
            value="<%= data?.staff?.Phone%>"
            name="Phone"
            class="border-gray-300 border outline-none transition-all py-1 px-2 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-full"
          />
        </div>

        <div class="mb-4">
          <label
            for="staffPassword"
            class="block text-sm font-medium text-gray-700"
            >Pin:</label
          >
          <input
            type="password"
            id="staffPassword"
            value="<%= data?.staff?.Pin%>"
            required
            name="Pin"
            class="border-gray-300 border outline-none transition-all py-1 px-2 rounded-md shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 w-full"
          />
        </div>

        <div class="flex items-center justify-end">
          <button
            type="submit"
            class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Create Staff
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
