<%- include('partials/header') %>

<div class="flex items-start bg-slate-50 h-[100vh] px-2 w-[100%]">
  <div class="lg:w-[15%] scrollbar-hide">
    <%- include('partials/sidebar') %>
  </div>

  <div class="w-[85%] px-5 mt-4 bg-slate-50 mb-10">
    <table id="example" class="table table-striped nowrap" style="width: 100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Pin</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% data.staffs.forEach(function(s) { %>
            <tr>
              <td><%= s.Name %></td>
              <td><%= s.Phone %></td>
              <td><%= s.Pin %></td>
              <td>
               <a href="/app/addStaff?id=<%= s.id %>">
                Edit
              </a>
            </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- DataTable Js -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js
"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js
"></script>

<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js

"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js
"></script>
